@import "node_modules/open-props/open-props.min.css";
@import "node_modules/open-props/normalize.min.css";
@import "node_modules/open-props/buttons.min.css";

:root {
    --secondary: #E27D60;
    --link: #85D0CB;
    --text: #E8A87C;
    --text: #C38D9E;
    --principal: #41B3A3;
    --background: #dadada;
    --gap-space: 1em;


}

@media (prefers-color-scheme: dark) {
    * {
        color: black;

    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: white;
    color: #000000;


}




.header-top-right {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.search-bar {
    width: clamp(100px, 70%, 750px);
    display: flex;
    flex-wrap: nowrap;
}

.sign-up {
    background-color: var(--green-5);
}

.search-bar>.search-input {
    all: revert;
    padding: 12px 20px;
    flex: 1;
    font-size: 14px;
    border: 1px solid #c8c8c8;
    border-right: 0px;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    width: 100%;
}

.search-bar>.search-button {
    all: revert;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #c8c8c8;
    border-right: 0px;
    background: var(--blue-7);
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    position: relative;
    left: -5px;
}

.search-button:hover {
    text-decoration: none;
    background: var(--blue-6);
}





main {
    background: var(--gray-1);
    padding-top: var(--gap-space);
    padding-bottom: 2em;
}

.top {
    background-color: #000000;
    height: 1em;
    width: 100%;
}

header {
    position: sticky;
    margin-top: 1em;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-content: center;
    justify-content: center;

    gap: var(--gap-space);

    flex-wrap: wrap;

}

header>.logo {
    flex: 0 0 auto;
    max-height: 7.5em;
    max-width: 200px;
}

.logo>img {
    max-height: 100%;
    object-fit: cover;


}

.header-right {
    height: 100%;
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--gap-space);


}


ul {
    list-style: none;
    padding: 0;
}


nav {

    width: 100%;
    max-width: 1400px;
    display: flex;
    margin: auto;
}

nav a {
    width: 100%;
    color: black;
    margin: 0px 6px 6px 0px;
    padding: var(--gap-space) 0 var(--gap-space) 10px;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

menu>.menu-item {
    background: var(--gray-3);
}

.menu-item>menu>.menu-item {
    padding-right: 3em;
}

nav .menu-item {
    position: relative;
    display: block;
    opacity: 0;
    cursor: pointer;
}

nav .menu-item>menu {
    position: absolute;
    pointer-events: none;
}

nav>menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 2px;

}

menu {
    display: flex;
    flex: 1 1 100px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    padding: 0;
}

nav>menu>.menu-item {
    pointer-events: all;
    opacity: 1;
    flex: 1;
}

menu .menu-item a {
    white-space: nowrap;
    display: block;
}

.menu-item:hover>menu {
    pointer-events: initial;
}

.menu-item:hover>menu>.menu-item,
menu:hover>.menu-item {
    opacity: 1;
}

nav>menu>.menu-item .menu-item menu {
    transform: translateX(100%);
    top: 0;
    right: 0;
}



.scroll-section {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
    background: var(--gray-1);
}

.scroll-menu {

    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    gap: var(--gap-space);

}

.scroll-list {
    padding: 0;
    width: 85vw;
    gap: var(--gap-space);


    display: grid;
    grid-auto-flow: column;

    flex: auto;

    text-align: justify;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: var(--gap-space);

}

.scroll-list::-webkit-scrollbar {
    height: 12px;
}

.scroll-list::-webkit-scrollbar-thumb,
.scroll-list::-webkit-scrollbar-track {
    border-radius: 92px;
}

.scroll-list::-webkit-scrollbar-thumb {
    background: var(--green-7);
}

.scroll-list::-webkit-scrollbar-track {
    background: var(--green-3);
}

@media (min-width: 450px) {
    .scroll-list {
        grid-auto-columns: calc(calc(100%/2) - var(--gap-space));
    }
}

@media (width<450px) {
    .scroll-list {
        width: 95vw;
        grid-auto-columns: calc(calc(100%/2) - var(--gap-space));
    }
}

@media (min-width: 650px) {
    .scroll-list {
        grid-auto-columns: calc(calc(100%/3) - var(--gap-space));
    }
}

@media (min-width: 850px) {
    .scroll-list {
        grid-auto-columns: calc(calc(100%/4) - var(--gap-space));
    }
}

@media (min-width: 1050px) {
    .scroll-list {
        grid-auto-columns: calc(calc(100%/5) - var(--gap-space));
    }
}

@media (min-width: 1250px) {
    .scroll-list {
        width: 1200px;
        grid-auto-columns: calc(calc(100%/6) - var(--gap-space));
    }
}


.product-card img {
    max-width: 95%;
    border-radius: 4px;
    object-fit: contain;
    aspect-ratio: 1/1;
    margin: var(--gap-space) auto;
}

.product-card img:hover {
    transform: scale(105%);
    filter: contrast(110%);
    filter: brightness(110%);
}



.product-card:hover {
    box-shadow: var(--shadow-6);
    transform: translateY(-4px);

}


.product-legend:hover {
    color: var(--blue-7);
}

.product-grid {
    margin: 3em 0;
    width: clamp(360px, 90vw, 1200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: var(--gap-space);
}

.product-grid>.section {
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 2px;
    text-align: center;
    width: 100%;
}

.product-grid>.section>li {
    padding: 1em 0 1em;
    background-color: #ffffff;
}

.product-grid a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em;
    border-radius: var(--radius-round);
}

.product-grid a:active {
    background-color: var(--blue-6);
}

.grid-title {
    grid-column: 1/ -1;
}



.product-card {
    margin: 4px;
    box-shadow: var(--shadow-3);
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 0 100%;
    scroll-snap-align: start;
    transition: transform .3s ease-in-out;
    transform-origin: bottom;
}


.product-card .imgBox {

    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.product-card .product-legend {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.product-card .product-legend h3 {
    font-size: 18px;

    font-weight: 500;
}

.product-card .product-legend .price {
    font-size: 24px;

    font-weight: 700;
}

.buy {
    position: relative;
    top: 50px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: var(--blue-6);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.product-card:hover .product-legend .buy {
    top: 0;
    opacity: 1;
}

.product-selection-grid {
    margin: 3em 0;
    width: clamp(360px, 90vw, 1200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 100px;
    gap: calc(var(--gap-space)/2);
}

.big-cell {
    grid-row: auto/span 2;
    background-color: #41B3A3;
}

.small-cell {
    background-color: #E27D60;
}

.square {
    min-height: 150px;
}

.footer-div {
    display: flex;
    flex: 1 0 150px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer-div li {
    font-size: 0.75em;
    padding: 0;
}

footer.information {
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: first baseline;
    gap: var(--gap-space);
    flex-wrap: wrap;
}

.footer-div h6 {
    padding-bottom: 1em;
}

footer.end-banner {
    background-color: #000000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--gap-space);

}

footer.end-banner>div {
    width: clamp(360px, 90vw, 1200px);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1em;
    color: #ffffff;
}

.socials>.circle {
    font-size: larger;
    flex: 0 0 auto;
    color: #ffffff;
    background: #000000;

    border-radius: var(--radius-round);

    border: #ffffff 2px solid;

}

.circle:hover {
    font-size: larger;
    flex: 0 0 auto;
    color: #000000;
    background: #ffffff;

    border-radius: var(--radius-round);

    border: #ffffff 2px solid;

}

.circle>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
}

.copyright {
    color: var(--gray-3);
}

.signup {
    background-color: #ffffff;
    padding-top: 3em;
}

main>.login-form {
    padding: 3em;
    box-shadow: var(--shadow-5);
    border-radius: var(--radius-3);
    border: var(--border-size-2) solid var(--gray-3);
    background-color: #ffffff;
    margin: 2em;
}

.login-form>form {
    display: flex;
    gap: var(--gap-space);
    flex-direction: column;
    align-content: center;
}

form>.login-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1em;
}

.login-section span {
    margin-right: 1em;
}


main.product {
    background-color: #ffffff;
}

.product-page {
    width: clamp(360px, 85vw, 1200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 2em;
}

.product-page-right {
    flex: 1 1 240px;
}

.product-page-right>div {
    border-bottom: var(--gray-3) 1px solid;
    padding-bottom: 1em;
}

.product-page-left img {
    width: 90%;
    padding: auto;
    object-fit: contain;
}

.product-page-left {
    flex: 1 1 160px;
}

.product-page-left>.proct-page-list-image {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.product-page-left>.proct-page-list-image>button {
    width: 4em;
}

.product-page-left>.proct-page-list-image>button>img {
    width: 100%;
}

.product-color div {
    display: inline-block;
}

.product-color input[type="radio"] {
    display: none;
}

.product-color input[type="radio"]+label span {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

.product-color input[type="radio"]+label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.product-color input[type="radio"]#red+label span {
    background-color: red;
}

.product-color input[type="radio"]#blue+label span {
    background-color: blue;
}

.product-color input[type="radio"]#black+label span {
    background-color: black;
}

.product-color input[type="radio"]:checked+label span {
    border-color: #E8A87C;
    border-width: 4px;
}

.product-list-option a {
    color: var(--gray-7);
    font-weight: 500;
}

.product-list-option>button {
    all: revert;
    border: 2px solid var(--gray-7);
    border-radius: 6px;
    padding: 0.5em 1em;
    color: var(--gray-8);
    background-color: #fff;
    cursor: pointer;
    font-size: large;
    margin-right: 0.5em;
}

.product-list-option>button.option-selected,
.product-list-option>button:hover {
    border-color: #E8A87C;
}

.product-list-option>button.option-selected>a,
.product-list-option>button:hover>a {
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
}

.product-page-right h6 {
    margin: 1em 0 0.5em;
}

.reduction {
    color: white;
    background-color: red;
    border-radius: var(--radius-round);
    padding: 0.2em 0.5em;
}

.prix-avant-reduction {
    color: var(--gray-7);
    text-decoration: line-through;
}

.prix-final {
    font-weight: bold;
    font-size: xx-large;
}

.product-top-right {
    display: flex;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    border-bottom: var(--gray-3) 1px solid;
    flex-direction: column;
}

.product-top-right>div {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
}

.product-page-tab {
    width: clamp(320px, 80vw, 1120px);
    border-bottom: 1px var(--gray-3) solid;
}

.product-page-tab>input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.product-page-tab label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;

}

.product-page-tab label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.product-page-tab-content {
    display: none;
    padding-bottom: 2em;
}


.product-page-tab input:checked+label::after {
    transform: rotate(90deg);
}

.product-page-tab input:checked~.product-page-tab-content {
    display: flex;
}

.product-page-tab-content tr:nth-child(even) {
    background-color: var(--gray-3);
}

.product-page-tab-content table {
    width: 100%;
    border: 1px solid var(--gray-5);
    border-collapse: collapse;
}

.product-page-tab-content td {
    border: 1px solid var(--gray-5);
    padding: 0.25em 0.5em;
    text-align: justify;
}


.product-page-tab-content .table-caracteristic {
    width: 25%;
    min-width: 100px;
}